@model NurayMarhanPortalGroup.Entities.Entities.Category

@{
    ViewData["Title"] = "Index";
}

<h4>Kategori Ekle</h4>
<hr />
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @TempData["Message"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Kategori Adı</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="ID" class="form-control" />
              
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-warning" />
            <a class="btn btn-info" asp-action="GetAllCategories">Geri Dön</a>
        </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
