@model NurayMarhanPortalGroup.Entities.Entities.Customer

@{
    ViewData["Title"] = "Index";
}



<h4>Müşteri Ekle</h4>
<hr />
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @TempData["Message"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Adı</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Soyadı</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TCID" class="control-label">TC No</label>
                <input asp-for="TCID" class="form-control" />
                <span asp-validation-for="TCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Doğum Tarihi</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gsm" class="control-label">Telefon</label>
                <input asp-for="Gsm" class="form-control" type="tel" maxlength="10"  placeholder="5555555555" />
                <span asp-validation-for="Gsm" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Kaydet" class="btn btn-warning" />
                <a class="btn btn-info" asp-action="GetAllCustomers">Geri Dön</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
